[Unit]
Description=Kubernetes kubelet
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/default/kubelet
ExecStart=/home/kubernetes/bin/kubelet \
  --image-service-endpoint=unix:///var/run/kubelet/kubelet-image-service.sock \
  $KUBELET_OPTS

[Install]
WantedBy=multi-user.target
